<app-header />
<section class="py-10 text-[var(--text-primary)]">
  <div class="lg-container">
    <div class="flex flex-col gap-7">
      <div class="text-2xl text-center font-medium flex flex-col gap-2">
        <h2>Browse Freelancers</h2>
        <p class="text-[var(--paragraph-secondary)] text-sm">
          Explore a selection of creators and experts across various fields.
        </p>
      </div>
      <form (ngSubmit)="OnSearch()" class="flex gap-2 search-container">
        <div
          class="relative p-3 bg-[var(--secondary-color)] rounded-2xl border border-[var(--border-components)] w-full"
        >
          <input
            type="text"
            class="w-full outline-0 pl-7"
            placeholder="Search for professional freelancers..."
            [(ngModel)]="search"
            name="text"
          />
          <button class="search-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              aria-hidden="true"
            >
              <path d="m21 21-4.34-4.34"></path>
              <circle cx="11" cy="11" r="8"></circle>
            </svg>
          </button>
        </div>
        <button
          class="flex gap-1 p-3 rounded-2xl border border-[var(--border-components)] cursor-pointer transition-[.5s] hover:bg-[var(--secondary-color)] items-center justify-center"
          [class.openDialogButton]="openDialog()"
          (click)="OnOpenDialog()"
        >
          <p
            class="text-[var(--paragraph-secondary)] font-semibold text-base"
            [class.openDialogSvg]="openDialog()"
          >
            Filter
          </p>
          <span class="w-[24px] h-[24px]"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              aria-hidden="true"
              stroke="var(--color-primary)"
              [class.openDialogSvg]="openDialog()"
            >
              <path d="M10 5H3"></path>
              <path d="M12 19H3"></path>
              <path d="M14 3v4"></path>
              <path d="M16 17v4"></path>
              <path d="M21 12h-9"></path>
              <path d="M21 19h-5"></path>
              <path d="M21 5h-7"></path>
              <path d="M8 10v4"></path>
              <path d="M8 12H3"></path>
            </svg>
          </span>
        </button>
      </form>
      @if (openDialog()) {
        <div
          class="grid grid-cols-2 gap-4 mt-5 p-8 border border-[var(--border-components)] rounded-2xl dialog"
          animate.enter="enter-animation"
          animate.leave="leaving"
        >
          <div class="flex flex-col gap-2">
            <p class="text-[13px] tracking-wider uppercase opacity-70 text-left ml-1">Rating</p>
            <div class="relative">
              <select
                class="w-full bg-[var(--secondary-color)] border border-[var(--border-components)] rounded-xl py-3.5 px-10 focus:outline-none focus:ring-4 focus:ring-primary/5 focus:border-primary/30 transition-all text-heading font-black font-cairo appearance-none shadow-xs cursor-pointer text-left undefined"
                (change)="onRatingChange($event)"
              >
                <option value="0" class="bg-bg font-bold">All Ratings</option>
                <option value="4" class="bg-bg font-bold">4 Stars &amp; Above</option>
                <option value="3" class="bg-bg font-bold">3 Stars &amp; Above</option>
              </select>
              <span
                class="lucide lucide-chevron-down absolute right-5 top-1/2 -translate-y-1/2 text-primary pointer-events-none group-focus-within/field:rotate-180 transition-transform"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class=""
                  aria-hidden="true"
                >
                  <path d="m6 9 6 6 6-6"></path>
                </svg>
              </span>
            </div>
          </div>
          <div class="flex flex-col gap-2">
            <p class="text-[13px] tracking-wider uppercase opacity-70 text-left ml-1">
              Nationality
            </p>
            <div class="relative">
              <select
                class="w-full bg-[var(--secondary-color)] border border-[var(--border-components)] rounded-xl py-3.5 px-10 focus:outline-none focus:ring-4 focus:ring-primary/5 focus:border-[var(--border-components)]/30 transition-all text-heading font-black font-cairo appearance-none shadow-xs cursor-pointer text-left undefined"
                (change)="onSelectCountry($event)"
              >
                <option value="all" class="bg-bg font-bold font-cairo">All Nationalities</option>
                <option value="jordin" class="bg-bg font-bold font-cairo">Jordin</option>
                <option value="Egypt" class="bg-bg font-bold font-cairo">Egypt</option>
                <option value="Syria" class="bg-bg font-bold font-cairo">Syria</option></select
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-down absolute right-5 top-1/2 -translate-y-1/2 text-primary pointer-events-none group-focus-within/field:rotate-180 transition-transform"
                aria-hidden="true"
              >
                <path d="m6 9 6 6 6-6"></path>
              </svg>
            </div>
          </div>
        </div>
      }
      <div class="flex gap-4 justify-center items-center">
        <div class="basis-[5%]"></div>
        <div
          class="border-[var(--border-components)] border-[1px] w-full basis-[75%] opacity-50"
        ></div>
        <p class="w-fit text-sm text-[12px]! justify-end">
          <span class="text-[var(--color-primary)] font-bold mr-1 text-base">{{
            userService.WorkersPage()?.count
          }}</span>
          Freelancers available now
        </p>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-4 gap-y-7 mt-5 cards">
      @for (item of workers(); track $index) {
        <app-freelancer-card [worker]="item" />
      }
    </div>

    <div class="flex justify-center mt-7">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="userService.WorkersPage()?.count"
        styleClass="pagiation"
      />
    </div>
  </div>
</section>

<app-footer />
