<app-header />

<section class="bg-[var(--theme-bg)] text-[var(--text-primary)] py-15">
  <div class="md-container">
    <app-form-header primareyheading="Confirm Email" Secondaryheading="please enter your email" />
  </div>
  <div class="md-container shadow bg-[var(--secondary-color)] rounded-2xl flex flex-col">
    <div class="p-6 py-6 text-xl">
      <img src="logo.png" alt="logo" class="block w-[200px] mx-auto mb-2 rounded-3xl" />
      <form action="" class="flex flex-col gap-3" [formGroup]="form">
        <div class="flex flex-col gap-1">
          <label for="email" class="text-lg font-medium ml-1">Email</label>
          <div class="relative w-full">
            <span class="form-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-mail w-5 h-5 text-primary"
                aria-hidden="true"
                stroke="var(--color-primary)"
              >
                <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"></path>
                <rect x="2" y="4" width="20" height="16" rx="2"></rect>
              </svg>
            </span>
            <input
              formControlName="email"
              type="email"
              name="email"
              id="email"
              class="p-1.5 pl-10 border-[3px] text-base border-solid border-[var(--border-components)] rounded-lg outline-0 w-full focus:border-[var(--color-primary)]"
              placeholder="Email"
            />
          </div>
        </div>
        @if (confirmEmailMsg()) {
          <div class="pt-3 px-1">
            <div class="not-valid-input">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"
                />
              </svg>
              <p>{{ confirmEmailMsg() }}</p>
            </div>
          </div>
        }
      </form>
      <div class="flex items-center pt-6 justify-between">
        <button
          class="hover:bg-[var(--color-primary)] hover:opacity-60 font-medium transition-[.3s] p-2 px-8 flex justify-center items-center cursor-pointer rounded-md w-full bg-[var(--color-primary)]"
          (click)="onSubmitEmail()"
        >
          Submit
        </button>
      </div>
      <p class="flex justify-center w-full mt-4">
        Back to
        <button
          class="pl-1 text-[var(--color-primary)] hover:text-[var(--color-primary)] hover:opacity-60 cursor-pointer"
          routerLink="/login"
        >
          login
        </button>
      </p>
    </div>
  </div>
</section>
<app-footer />
